.right {
  text-align: right;
  margin: 0;
}

.mat-card-avatar {
  border-radius: 0;
}

.mat-card-actions,
.mat-card-subtitle,
.mat-card-content {
  margin-bottom: 0;
  padding: 0;
}

.mat-icon {
  font-size: 30px;
  width: 30px;
  height: 30px;
  line-height: 30px;
}

.mat-icon-button {
  width: 30px;
  height: 30px;
}

#play-button {
  width: 40px;
  height: 40px;
}
#play-icon {
  font-size: 40px;
  width: 40px;
  height: 40px;
  line-height: 40px;
}

.icon {
  transform: scale(0.7);
}

.green {
  fill: #69f0ae;
}
