.track-list {
  overflow-y: scroll;
}

.left-bar {
  background-color: #1f1f1f;
  padding: 20px;
  border-radius: 2%;
}

.text-centered {
  text-align: center;
}

.play {
  font-weight: 600;
}

.margin-top {
  margin-top: 20%;
}

.margin-5 {
  margin-top: 5%;
}

.arrow {
  width: 150px;
  height: 150px;
}

.icon {
  transform: scale(5);
}

.mat-divider {
  width: 100%;
  height: 10px;
}

.no-margin {
  margin: 0;
}

.mat-card-avatar {
  border-radius: 0;
  height: 60px;
  width: 60px;
}

.mat-progress-bar {
  min-width: 284.11px;
}

.mat-card-subtitle {
  margin-bottom: 0;
}
