<div
  *ngIf="spotifyUser$ | async as user; else notConnected"
  fxFlexFill
  fxLayout="column"
  fxLayoutAlign="start center"
>
  <div
    fxFlex="85"
    *ngIf="
      !(isTrackstoreLoading$ | async) && !(isSpinning$ | async);
      else loadingTracks
    "
    fxFlexFill
  >
    <div
      fxFlexFill
      *ngIf="!(isTrackStoreEmpty$ | async); else noTracks"
      fxLayout="row"
    >
      <!----------------- LEFT BAR ----------------->
      <div fxFlexOffset="10" fxFlex="25" fxFlexFill>
        <div fxLayout="column" fxFlexFill>
          <div fxFlexOffset="10" fxFlex="90" class="left-bar">
            <mat-tab-group mat-align-tabs="center" fxFlexFill>
              <mat-tab label="Playlists">
                <div fxLayout="row" fxLayoutAlign="center center">
                  <div fxFlex="90"><app-playlist-list></app-playlist-list></div>
                </div>
              </mat-tab>
              <mat-tab label="Filters">
                <div fxLayout="row" fxLayoutAlign="center center">
                  <div fxFlex="80">
                    <app-genre-list></app-genre-list>
                    <app-filter-list></app-filter-list>
                  </div>
                </div>
              </mat-tab>
            </mat-tab-group>
          </div>
        </div>
      </div>
      <!----------------- RIGHT BAR ----------------->
      <div fxFlex="40" fxFlexOffset="5" fxFlexFill>
        <div fxLayout="column" fxFlexFill>
          <div
            fxFlexOffset="5"
            fxLayout="column"
            fxFlexFill
            class="header"
            fxFlex="15"
          >
            <div fxFlex="nogrow" fxAlign="row">
              <h1>Tracklists</h1>
              <div fxFlex></div>
              <div fxFlex="nogrow">
                <button
                  mat-icon-button
                  (click)="savePlaylist()"
                  matTooltip="Save as playlist"
                >
                  <mat-icon>save</mat-icon>
                </button>
                <button
                  mat-icon-button
                  (click)="refreshData()"
                  matTooltip="Reload Spotify tracks"
                >
                  <mat-icon>refresh</mat-icon>
                </button>
                <button
                  mat-icon-button
                  (click)="signOut()"
                  matTooltip="Log out"
                >
                  <mat-icon>power_settings_new</mat-icon>
                </button>
              </div>
            </div>

            <mat-divider></mat-divider>
            <div fxFlex="nogrow" fxAlign="row" fxLayoutAlign="start center">
              <button
                mat-raised-button
                color="accent"
                class="play"
                (click)="playAll()"
                [disabled]="(trackNumber$ | async) === 0"
              >
                <mat-icon>play_circle_outline</mat-icon>
                Play tracklist
              </button>
              <div fxFlex></div>
              <p class="no-marign">{{ trackNumber$ | async }} tracks</p>
            </div>
          </div>
          <!----------------- TRACK LIST ----------------->
          <div
            class="track-list"
            fxFlexFill
            fxFlex
            *ngIf="(trackNumber$ | async) > 0; else noActiveTrack"
          >
            <app-track-list></app-track-list>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!----------------- PLAYER ----------------->
  <div fxFlexFill fxFlex fxLayout="row" *ngIf="!(isTrackStoreEmpty$ | async)">
    <div fxFlexOffset="10" fxFlex="70">
      <app-player [track$]="playingTrack$"></app-player>
    </div>
  </div>
</div>

<!----------------- NOT CONNECTED TO SPOTIFY ----------------->
<ng-template #notConnected>
  <div fxFlexFill fxLayoutAlign="center center">
    <div fxFlex class="text-centered">
      <h2>Log in to Spotify</h2>
      <p>You need to be connected to load your songs.</p>
      <button mat-raised-button color="accent" (click)="loginSpotify()">
        Login
      </button>
    </div>
  </div>
</ng-template>

<!----------------- NO TRACKS SAVED ----------------->
<ng-template #noTracks>
  <div fxLayout="column" fxFlexFill fxLayoutAlign="center center">
    <div fxFlex="nogrow" fxFlexOffset="7.5">
      <div fxFlex="nogrow" class="text-centered">
        <h2>Almost there</h2>
        <p>
          We need to load your songs from Spotify, it may take a few minutes.
        </p>
        <button
          *ngIf="!(isSpinning$ | async)"
          mat-raised-button
          color="accent"
          (click)="loadPlaylist()"
        >
          Load music
        </button>
      </div>
    </div>
  </div>
</ng-template>

<!----------------- LOADING TRACKS ----------------->
<ng-template #loadingTracks>
  <div fxLayout="column" fxFlexFill fxLayoutAlign="center center">
    <div fxFlex="nogrow">
      <div fxFlex="nogrow" class="text-centered">
        <h2>Loading your music</h2>
        <p>Wait a minute, it will be soon full of love.</p>
      </div>
    </div>
    <div
      fxFlex="nogrow"
      class="text-centered margin-5"
      *ngIf="loadingItem$ | async as item"
    >
      <p>{{ item }}</p>
    </div>
    <div fxFlex="nogrow" class="text-centered margin-5">
      <mat-spinner></mat-spinner>
    </div>
  </div>
</ng-template>

<!----------------- NO ACTIVE TRACK----------------->
<ng-template #noActiveTrack>
  <div fxFlexFill fxLayout="column" fxLayoutAlign="start center">
    <div fxFlex="15"></div>
    <h3 fxFlex="nogrow" class="text-centered">No playlist selected</h3>
    <p fxFlex="nogrow" class="text-centered">
      Select a playlist to load its tracks
    </p>
    <mat-icon
      fxFlexOffset="10"
      fxFlex="nogrow"
      class="icon"
      svgIcon="arrow"
    ></mat-icon>
  </div>
</ng-template>
