.track-list {
  overflow-y: scroll;
}

.left-bar {
  background-color: #1f1f1f;
  padding: 20px;
  border-radius: 2%;
}

.text-centered {
  text-align: center;
}

.margin-top {
  margin-top: 20%;
}

.margin-5 {
  margin-top: 5%;
}

.arrow {
  width: 150px;
  height: 150px;
}


