<div fxLayout="row" fxLayoutAlign="center center">
  <mat-card class="card" fxFlex fxFlexAlign="center center">
    <mat-card-header fxLayout="row" fxLayoutAlign="center center">
      <div
        mat-card-avatar
        [ngStyle]="{
          'background-image': 'url(' + track.album.images[0].url + ')',
          'background-size': 'cover'
        }"
      ></div>
      <div fxFlex="nogrow">
        <mat-card-title>{{ track.name }}</mat-card-title>
        <mat-card-subtitle>{{ track.artists[0].name }}</mat-card-subtitle>
      </div>
      <div fxFlex></div>
      <button mat-icon-button (click)="play(track.uri)">
        <mat-icon>play_circle_outline</mat-icon>
      </button>
      <button mat-icon-button (click)="addoToPlayback(track.uri)">
        <mat-icon>playlist_add</mat-icon>
      </button>
    </mat-card-header>
  </mat-card>
</div>
