<div fxLayout="row" fxLayoutAlign="center center">
  <mat-card class="card" fxFlex="30" fxFlexAlign="center center">
    <mat-card-header>
      <div
        mat-card-avatar
        [ngStyle]="{
          'background-image': 'url(' + track.album.images[0].url + ')',
          'background-size': 'cover'
        }"
      ></div>
      <mat-card-title>{{ track.name }}</mat-card-title>
      <mat-card-subtitle>{{ track.artists[0].name }}</mat-card-subtitle>
    </mat-card-header>
    <mat-card-actions>
      <button mat-icon-button (click)="playTrack(track.id)">
        <mat-icon>play_circle_outline</mat-icon>
      </button>
    </mat-card-actions>
  </mat-card>
</div>
