<section fxFlexFill fxLayout="row" fxLayoutAlign="center center">
  <div id="logo">
    <h1><a class="white" href="">Tracklists</a></h1>
  </div>
  <div class="spacer layer1"></div>
  <div class="spacer layer2"></div>
  <div class="text-centered text">
    <h1>Dig your tracks</h1>
    <p>using Spotify's hidden parameters</p>
    <button mat-raised-button color="accent">
      <mat-icon class="icon" svgIcon="shovel"></mat-icon><span>Dig it!</span>
    </button>
  </div>
</section>
<section fxFlexFill fxLayout="column" fxLayoutAlign="start end">
  <div class="spacer layer3"></div>
  <div class="text margin-top">
    <img src="../../assets/download.svg" />
    <h1>Load your library</h1>
    <p>based on your playlists and liked tracks</p>
    <button mat-raised-button color="primary">Let's go!</button>
  </div>
  <div class="spacer layer4"></div>
</section>
<section fxFlexFill fxLayout="column" fxLayoutAlign="center start">
  <div class="spacer layer5"></div>
  <div class="text">
    <img src="../../assets/filters.svg" />
    <h1>Play with parameters</h1>
    <p>Like danceability, chill or BPM</p>
    <button mat-raised-button color="primary">Let's play!</button>
  </div>
</section>
<section fxFlexFill fxLayout="column" fxLayoutAlign="center end">
  <div class="text">
    <img src="../../assets/funk.svg" />
    <h1>Discover all the genres</h1>
    <p>behind your tracks</p>
    <button mat-raised-button color="primary">Go!</button>
  </div>
  <div class="spacer layer6"></div>
</section>
<section fxFlexFill fxLayout="row" fxLayoutAlign="center center">
  <div class="spacer layer7"></div>
  <div class="spacer layer8"></div>
  <div class="text-centered text">
    <h1>Free and open source</h1>
    <br />
    <h1>
      <a
        class="red purple"
        target="_blank"
        href="https://github.com/Jackseed/tracklists"
        >❤</a
      >
    </h1>
  </div>
</section>
