<section id="blue" fxFlexFill fxLayout="row" fxLayoutAlign="center center">
  <div id="logo"><h1>Tracklists</h1></div>
  <div class="spacer layer1"></div>
  <div class="spacer layer2"></div>
  <div class="text-centered text">
    <h1>Dig your tracks</h1>
    <p>using Spotify's hidden parameters</p>
    <button mat-raised-button color="accent">
      <mat-icon class="icon" svgIcon="shovel"></mat-icon><span>Dig it!</span>
    </button>
  </div>
</section>
<section id="orange" fxFlexFill fxLayout="column" fxLayoutAlign="start center">
  <h1>Welcome to Tracklists</h1>
  <p>
    Ipsam ut doloribus, aut velit hic molestias maxime esse voluptate
    necessitatibus nulla unde enim. Ipsa minima harum obcaecati sapiente
    exercitationem, facilis quae magnam doloremque tempora natus. Repellat in
    quas ut?
  </p>
</section>
<section id="green" fxFlexFill fxLayout="column" fxLayoutAlign="start center">
  <h1>Welcome to Tracklists</h1>
  <p>
    Est consectetur ipsum provident blanditiis! Ad eveniet, aliquid quae
    possimus accusamus, nam ab esse ea, error accusantium molestiae impedit sed
    nisi maxime ullam. Quae dolor consectetur consequatur velit similique a.
  </p>
</section>
<section id="purple" fxFlexFill fxLayout="column" fxLayoutAlign="start center">
  <h1>Welcome to Tracklists</h1>
  <p>
    Exercitationem rerum fuga fugit accusamus nostrum consequuntur accusantium
    soluta eveniet! Aut vero explicabo aperiam numquam mollitia cumque alias!
    Consequatur dicta ullam odio rerum unde mollitia obcaecati nisi rem quia
    dolorem.
  </p>
</section>
<section id="yellow" fxFlexFill fxLayout="column" fxLayoutAlign="start center">
  <h1>Welcome to Tracklists</h1>
  <p>
    Nulla excepturi amet provident, quibusdam harum dicta enim natus tempora
    praesentium atque repudiandae consectetur iure dolore vero vel nostrum
    tempore quae. Exercitationem doloribus assumenda numquam eos fugiat ad
    ducimus perferendis!
  </p>
</section>
