section {
  position: relative;
  min-height: 400px;
  padding: 100px 20vw;
}

#logo {
  position: absolute;
  top: 0;
  left: 0;
  padding: 20px;
}

.icon {
  transform: scale(0.8);
  padding-top: 1.5px;
  padding-right: 5px;
}

#blue {
  background-color: black;
}

#green {
  background-color: green;
}

#yellow {
  background-color: yellow;
}

#purple {
  background-color: purple;
}

#orange {
  background-color: orange;
}

.spacer {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.text {
  line-height: 60px;
  margin: 0;
}

.layer1 {
  background-image: url("../../assets/layers/layer1.svg");
  position: absolute;
  top: 0;
  right: 0;
  width: 45%;
  aspect-ratio: 1;
}

.layer2 {
  background-image: url("../../assets/layers/layer2.svg");
  position: absolute;
  bottom: 0;
  left: 0;
  width: 45%;
  aspect-ratio: 1;
}
