section {
  position: relative;
  min-height: 400px;
  padding: 100px 20vw;
}
p {
  margin: 0;
  font-size: calc(1rem + 0.5vmin);
}

img {
  width: calc(3rem + 3vmin);
  height: calc(3rem + 3vmin);
}

#logo {
  position: absolute;
  top: 0;
  left: 0;
  padding: 20px;
}

.icon {
  transform: scale(0.8);
  padding-top: 1.5px;
  padding-right: 5px;
}

.spacer {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.text {
  line-height: 60px;
  margin: 0;
}

.layer1 {
  background-image: url("../../assets/layers/layer1.svg");
  position: absolute;
  top: 0;
  right: 0;
  width: 45%;
  aspect-ratio: 1;
}

.layer2 {
  background-image: url("../../assets/layers/layer2.svg");
  position: absolute;
  bottom: 0;
  left: 0;
  width: 45%;
  aspect-ratio: 1;
}

.layer3 {
  background-image: url("../../assets/layers/layer3.svg");
  position: absolute;
  top: 0;
  left: 0;
  width: 45%;
  aspect-ratio: 1;
}

.layer4 {
  background-image: url("../../assets/layers/layer4.svg");
  position: absolute;
  bottom: 0;
  right: 0;
  width: 47%;
  aspect-ratio: 1.475;
}

.layer5 {
  background-image: url("../../assets/layers/layer5.svg");
  position: absolute;
  top: 0;
  right: 0;
  width: 47.2%;
  aspect-ratio: 0.87;
}

.layer6 {
  background-image: url("../../assets/layers/layer6.svg");
  position: absolute;
  bottom: 0;
  left: 0;
  width: 45%;
  aspect-ratio: 1;
}

.layer7 {
  background-image: url("../../assets/layers/layer7.svg");
  position: absolute;
  top: 0;
  left: 0;
  width: 45%;
  aspect-ratio: 1;
}

.layer8 {
  background-image: url("../../assets/layers/layer8.svg");
  position: absolute;
  bottom: 0;
  right: 0;
  width: 45%;
  aspect-ratio: 1;
}

a:hover {
  color: red;
}

a {
  text-decoration: none;
}
