/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
  background-color: black;
  color: white;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.mat-card {
  background: #000000;
}

.mat-tab-label {
  font-size: calc(1rem + 2.5vmin);
}

h1 {
  font-size: calc(1.5rem + 3.5vmin);
}
